@section Scripts {
    <script src="~/js/Gallery/Gallery.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/List.css" />
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (Context.Request.Cookies["SessionId"] != null)
            {
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Gallery" asp-action="AllProducts" style="font-weight:bold">Hello, @Context.Request.Cookies["Username"]!</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id=" select_count_box">
                        <p id="select_count" class="nav navbar-text navbar-right">
                            <a class="fa fa-shopping-cart" asp-area="" asp-controller="Cart" asp-action="ViewCart" aria-hidden="true" style="float: left; font-size: 20pt; margin-right: 10px;"></a> @Context.Request.Cookies["cartitemqty"]
                        </p>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Purchases" asp-action="MyPurchases" style="margin-top:9px;text-decoration:underline;color:steelblue">My Purchases</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Logout" asp-action="Index" style="margin-top: 9px; text-decoration: underline;color:steelblue">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© SA53 Team 6 Shopping Cart</span>
        </div>
    </footer>
</div>